# Java related
target/**
*.jar
*.war
*.ear
*.class

dependency-reduced-pom.xml
tomcat.8080/**
tomcat.8090/**

# eclipse specific
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
